$forge-path: "~@dosomething/forge/assets/";

// Import Forge.
@import "~@dosomething/forge/scss/forge";
@import "toolbox";

.chrome {
  background-color: $white;

  .wrapper {
    box-shadow: none;
  }
}

.nav_items li {
  max-width: 150px;
  float: left;

  @include media($small) {
    max-width: 100px;
  }
}

.nav_items img {
  padding: 20px;
}

#garnier {
  max-width: 250px;

  @include media($small) {
    max-width: 175px;
  }
}

.competition_title_block {
  background-color: #222;
  text-align: center;
  padding: 2% 0 2% 0;
}

.competition_title_block h1 {
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: 55px;
  color: white;
  text-transform: uppercase;
}

.competition_title_block h3 {
  font-family: $primary-font-family;
  color: white;
}

.competition_subtitle h3 {
  font-family: $primary-font-family;
  text-align: center;
  padding: 2% 20% 2% 20%;
}

.gallery.-duo {
  margin: 0 10% 0 10%;

  @include media($small) {
    margin: 0;
  }
}

.card {
  background-color: $white;
  overflow: hidden;
  border: 1px solid $light-gray;
  border-radius: 2px;
  text-align: left;
  // font-family: $primary-font-family;

  h4 {
    padding: $half-spacing $half-spacing 0 $half-spacing;
    margin: 0;
  }

  p {
    // font-family: $primary-font-family;
    padding: 0 $half-spacing 0 $half-spacing;
  }

  .card__title {
    background-color: $primary-color;
    padding: $half-spacing;
    text-align: left;

    h1 {
      font-family: $primary-font-family;
      font-size: $font-regular;
      text-transform: uppercase;
      display: inline;
      color: $black;
    }
  }
}

