// League Gothic
@font-face {
  font-family: 'League Gothic';
  src: url('./site/fonts/leaguegothic-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Source Sans Pro
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./site/fonts/sourcesanspro-regular.woff') format('woff2'),
       url('./site/fonts/sourcesanspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/sourcesanspro-bold.woff') format('woff2'),
       url('./fonts/sourcesanspro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/sourcesanspro-italic.woff') format('woff2'),
       url('./fonts/sourcesanspro-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
